<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
</head>
<body>
    <header>
        <nav>
            <div>
                <a>
                    <img>
                    <span></span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1></h1>
            <article>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <p></p>
                <a></a>
            </article>
            <hr>
        </div>
    </main>
    <footer>
        <p>
            <span></span>
        </p>
    </footer>
</body>
</html>