<!--
{% block content %}
  {% for product in products %}
    {% if forloop.first %}
      <h2>Список товаров</h2>
    {% endif %}
      <p>
        <b>
          {{ forloop.counter }}.
        </b>
        {{ product }}
      </p>
    {% if forloop.last %}
       <b>Конец списка товаров</b>
    {% endif %}
  {% empty %}
    <h2>Товары не привезли, магазин пуст!</h2>
  {% endfor %}
{% endblock %}
-->

<!--
Ниже этого комментария напишите HTML-код,
который был бы сгенерирован при вызове этого шаблона
со словарём контекста, приведённом в условии задачи.
Перед отправкой решения на проверку убедитесь,
что исходный код шаблона закомментирован или удалён.
-->
<h2>Список товаров</h2>
<p>
  <b>
    1.
  </b>
  Iron carrot
</p>
<p>
  <b>
    2.
  </b>
  Giant mousetrap
</p>
<p>
  <b>
    3.
  </b>
  Dehydrated boulders
</p>
<p>
  <b>
    4.
  </b>
  Invisible paint
</p>
<b>Конец списка товаров</b>